.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px 20px 60px;
  border-bottom: 1px solid #d1d2d6;
  background-color: #1f2937;
}

.header__logo {
    height: 50px;
    width: 50px;
    border-radius: 30%;
}
.header__name {
  margin: 0;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
}

.header__nav {
  display: flex;
  gap: 25px;
  margin: 0;
  font-size: 20px;
}
.header__link {
  color: #d1d5db;
  text-decoration: none;
}

.header__link:hover {
    color: #7c3aed;
}
