.footer {
  padding: 0 50px 0 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__text {
  color: #7c3aed;
}

.footer__icons {
display: flex;
  gap: 20px; 
  align-items: center;
}
.footer__icon {
  height: 30px;
  width: 30px;
}
